.banner-bg{
    background-image: url('../../images/top-banner2.png');
    width: 100%;
}

.banner{
    background-color: rgba(240, 255, 240, 0.788);
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    padding-top: 20px;
    font-weight: bold;
    color: #3870b3;
    font-size: 3em;
}
h3{
    font-weight: bold;
    font-size: 1.6em;
    background-color: #3870b3;
    color: whitesmoke;
    line-height: 40px;
}
h5{
    padding-bottom: 20px;
    font-size: 1.2em;
}