/* header */
.header{
    background-color: black;
}

.logo{
    height: 50px;
    margin-left: 1.5em ;
}

.title{
    color:#00b9d1;
}

/* navbar */
.navbar{
    background-color: #00b9d1;
    display: flex;
    justify-content:flex-start;
}
.navbar .link{
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin-left: 1.5em ;
    padding: 5px;
}
.navbar .link:hover{
    background-color: rgba(240, 255, 240, 0.788);
    border-radius: 5px;
    color: #00b9d1;
    font-weight: bold;
    margin-left: 1.2em;
    transition: background-color 2s;
}